<p>form-first works!</p>
<p>Name</p>
<input #nombre type="text" [value]="defaultName">
<p>Email</p>
<input #email type="email" name="" id="">
<hr>
<button mat-flat-button color="primary" (click)="onSendForm(email.value)">Send Form</button>
<hr>
<button mat-flat-button color="primary" (click)="onDefaultForm(nombre)">Default Form</button> 
<p>{{ status }}</p>
<hr>
<div *ngIf="displayPassword; then showPassword; else hiddePassword">

</div>


<ng-template #showPassword>
    <p>12345678x</p>
</ng-template>
<ng-template #hiddePassword>
    <p>No mostrar la contraseña</p>
</ng-template>

<!--SECCION DE SWITCH-->
<div [ngSwitch]="lightStatus">
    <div *ngSwitchCase= "'GREEN'">Verde</div>
    <div *ngSwitchCase= "'RED'">Rojo</div>
    <div *ngSwitchCase= "'YELLOW'">Amarillo</div>
    <div *ngSwitchDefault>ROTO</div>
</div>
<!--DIRECTIVA FOR-->
<div *ngFor="let name of names">
    <p>{{name}}</p>
</div>


<!--COMPONENTE TRAIDO DEL ELEMENTO PADRE-->
<p>{{messageFrom}}</p>

<br>
<br>
<br>
<hr>
<!--SECCION PARA MANDAR EL EVENDO HIJO AL COMPONENTE PADRE-->
<button (click) = "onSendEvent()">Enviar Evento</button>

<br><hr>
<!--SECCION PARA PETICIONES HTTP-->
<h1>Peticiones get con http</h1>
<div *ngFor="let cour of course">
    <p>{{cour.id}}, {{cour.name}}, {{cour.time}}</p>
</div>
<p>{{errorMessage}}</p>
